.Center {text-align:center}
.Small {font-size:0.75em}

body {
  font-family:Oxygen, Verdana, Calibri, "Open Sans", sans-serif;
  font-size:1em;
}

table {
	border-collapse:collapse;
	margin:auto;
}

td, th {
	border:1px solid black;
	padding:4px;
}

pre.Code {
	margin-left:2em;
	margin-right:2em;
	padding:6px;
	background:#f0f0ff;
}

pre.Code, code {font-weight:bold}
