nav {
	width:16em;
	position:fixed;
	top:0;
	left:0;
	padding:4px;
	overflow:auto;
	background:#e0e0ff;
}

nav p.Link {
	color:blue;
	font-weight:bold;
	padding:4px;
	margin-top:6px;
	margin-bottom:6px;
}

nav p.Link:hover {
	background:blue;
	color:white;
}

#HideNav {
	text-align:right;
	margin-top:4px;
}

#Content {margin-left:17em}
h1 {margin-top:4px}
.Link {cursor:pointer}

td.Link, span.Link, code.Link {
	color:blue;
	text-decoration:underline;
}

div.Collapse {
	border-left:1px solid #b0b0b0;
}

div.Indent, div.Collapse {
	padding-left:1.25em;
}

p.Hanging {
	margin-left:2em;
	text-indent:-2em;
	cursor:pointer;
}

img.Icon {
	width:1.2em;
	height:1.2em;
	margin-right:4px;
	vertical-align:middle;
}

span.Default {color:royalblue}

.Def {
	text-decoration:underline;
	font-style:italic;
}

Button {width:8em}
Button img.Icon {float:left}