body {
	font-family:Oxygen, sans-serif;
	margin:0;
}

img.Logo {
	width:1.25em;
	height:1.25em;	
}

img.CopyCode {
	cursor:pointer;
	float:right;
	width:1.5em;
	height:1.5em;	
}

.Center {text-align:center}
.Comment {color:red}
.Hilite {color:blue}
.Hilite1 {color:violet}

.Warning {
	color:red;
	font-weight:bold;
}

.Warning .Link {
	text-decoration:underline;
	cursor:pointer;
}

#Path {
	position:fixed;
	top:0; left:0;
	z-index:1;
	width:100%;
	padding:0.5em;
	background-color:#e0e0ff;
	vertical-align:center;
}

#Path a {
	color:blue;
	text-decoration:none;
}

#Path a.Current {
	color:black;
	font-weight:bold;
}

code, .Code {
	font-family:"Source Code Pro", Consolas, monospace;
	font-weight:bold;
}

pre.Code {
	background:#e8e8e8;
	margin:1em;
	padding:4px;
	overflow:auto;
}

pre.Scroll {height:20em}

div.Indent {margin-left:1.5em}

div.LinkWide, div.LinkNarrow {
	border:1px solid blue;
	border-radius:4px;
	background:#e0e0ff;
}

div.LinkWide {
	width:16em;
	float:right;
	margin-left:8px;
}

div.LinkNarrow {
	width:100%;
	background:#e0e0ff;
}

table.Default {
	border-collapse:collapse;
	margin:auto;
}

table.Default td, table.Default th {
	border:1px solid black;
	padding:4px;
}

img.Border {
	border:1px solid black;
}

textarea.Clip {display:none}
p.Clip {margin-left:1em}
