body {
	font-family:Oxygen, sans-serif;
	margin:0;
}

.Center {text-align:center}

#Path {
	position:fixed;
	top:0; left:0;
	z-index:1;
	width:100%;
	padding:0.5em;
	background-color:#e0e0ff;
}

#Path a {
	color:blue;
	text-decoration:none;
}

#Path a.Current {
	color:black;
	font-weight:bold;
}

code, .Code {
	font-family:"Source Code Pro", Consolas, monospace;
	font-weight:bold;
}

pre.Code {
	background:#e8e8e8;
	margin:1em;
	padding:4px;
	overflow:auto;
}

pre.Scroll {height:20em}

div.Links {
	width:16em;;
	float:right;
	border:1px solid blue;
	border-radius:4px;
	background:#e0e0ff;
}
