:root {
    --bodyMargin:12px;
    --navWidth:192px;
    --navBorder:1px;
    --navPadding:0px;
    --menuPadding:8px;
    --iconPadding:6px;
    --paleblue:#d0d0ff;
    --palegrey:#484848;
    --menuIcon:1.4em;
}

p, h1, h2, h3 {margin:var(--bodyMargin) 0}
.Right {text-align:right}
.Center {text-align:center}

.Wide {
    max-width:98%;
    max-height:calc(100vh - 2 * var(--bodyMargin));
    display:block;
    margin:0 auto;
}

img.Icon {
    width:var(--menuIcon);
    height:var(--menuIcon);
}

body {
    font-family:Oxygen, sans-serif;
    margin:var(--bodyMargin);
}

#Main {
    max-width:960px;
    margin:auto;
}

body.Normal {
    margin-left:calc(2 * (var(--bodyMargin) + var(--navBorder) + var(--navPadding)) + var(--navWidth));
}

#Menu hr {
    border:none;
    border-bottom:1px solid var(--paleblue);
}

#Menu p {
    margin:0;
    padding:var(--menuPadding);
    background-repeat:no-repeat;
    background-size:var(--menuIcon) var(--menuIcon);
}

body.Normal #Menu p:hover {
    cursor:pointer;
    background-color:var(--paleblue);
}

#Menu p.Current {
    color:blue;
    font-weight:bold;
}

body.Narrow #Menu:not(.Path) p.Path, body.Narrow .Normal, body.Normal .Narrow, #Data {display:none}
#Menu, #Main iframe {border-radius:6px}

body.Normal #Menu p {
    padding-left:calc(2 * var(--iconPadding) + var(--menuIcon));
    background-position:var(--iconPadding) var(--iconPadding);
}

body.Narrow #Menu p {
    font-size:140%;
    padding-top:calc(2 * var(--iconPadding));
    padding-bottom:calc(2 * var(--iconPadding));
    padding-left:calc(2 * var(--iconPadding) + var(--menuIcon));
    background-position:var(--iconPadding) calc(2 * var(--iconPadding));
}

#Menu {
    padding:var(--navPadding);
    border:var(--navBorder) solid var(--paleblue);
    overflow:auto;
    color:var(--palegrey);
    font-size:80%;
}

body.Normal #Menu {
    width:var(--navWidth);
    max-height:calc(100vh - 2 * (var(--bodyMargin) + var(--navBorder) + var(--navPadding)));
    position:fixed;
    top:var(--bodyMargin);
    left:var(--bodyMargin);
}

body.Narrow #Menu, body.Narrow iframe.Wide {
    width:calc(100% - 2 * (var(--navPadding) + var(--navBorder)));
    max-width:calc(100% - 2 * (var(--navPadding) + var(--navBorder)));
    margin-bottom:var(--bodyMargin);
}

/* body.Narrow #Content.Popup {
    width:calc(100vw - 2 * var(--menuPadding));
    height:calc(100vh - 2 * var(--menuPadding));
    position:fixed;
    top:0; left:0;
    overflow:auto;
    background-color:#e0e0e0f0;
    padding:var(--menuPadding);
} */

iframe.Full {
    width:100%;
    height:calc(100vh - 2 * var(--bodyMargin) - 2px);
    display:block;
    border:1px solid var(--paleblue);
    background-color:white;
}

body.Narrow iframe.Full {
    max-width:calc(100% - 2 * (var(--navPadding) + var(--navBorder)));
}

span[onclick] {
    color:blue;
    cursor:pointer;
}

span[onclick]:hover {text-decoration:underline}