:root {
  --toolbar-img:1.25em;
  --toolbar-pad:3px;
  --menu-size:95%;
  --menu-icon:1em;
  --menu-pad:calc(0.6em + var(--menu-icon));
}

html.SmallScreen:root {
  --toolbar-img:1.5em;
  --toolbar-pad:5px;
  --menu-size:125%;
}

ul.Menu {
    list-style-type:none;
    display:inline-block;
    min-width:6em;
    max-width:calc(100% - 16px);
    margin:0;
    padding:0;
    position:fixed;
    top:8px;
    left:8px;
    color:#404040;
    background:white;
    border:1px solid #e0e0e0;
    box-shadow:3px 3px 6px #e0e0e0;
    border-radius:0.4em;
}

ul.Menu > li {
    font-family:Arsenal, sans-serif;
    font-size:var(--menu-size);
    background-repeat:no-repeat;
    background-size:var(--menu-icon) var(--menu-icon);
    background-position:0.2em center;
    padding:0.2em var(--menu-pad);
    /* padding-right:calc(var(--menu-pad) + 2em); */
}

ul.Menu > li:hover {
    cursor:pointer;
    background-color:#f4f4f4;
}

ul.Menu > hr {
    border-bottom:1px solid #e0e0e0;
    border-top:none;
    margin:0;
}

ul.Menu > li > span {position:relative}

div.Toolbar {
    width:100%;
    position:fixed;
    top:0; left:0;
    overflow:auto;
    margin:0;
    background-color:white;
  }

nav.Toolbar {
    min-width:100%;
    white-space:nowrap;
    height:calc(var(--toolbar-img) + 4 * var(--toolbar-pad) + 3);
    border-bottom:1px solid #e0e0e0;
    text-align:center;
}

nav.Toolbar > img, nav.Toolbar > button {
    vertical-align:middle;
    padding:var(--toolbar-pad);
    margin:var(--toolbar-pad) calc(3 * var(--toolbar-pad));
    border-radius:5px;
    border:1px solid #0000;
    cursor:pointer;
}

nav.Toolbar > img {
    width:var(--toolbar-img);
    height:var(--toolbar-img);
}

nav.Toolbar > button {
    font-family:Arsenal, sans-serif;
    font-size:1.25em;
}
