select, input {
    border: 2px solid black;
    padding: 2px;
    font-size: 120%;
}

input {
    width: 3em;
    text-align: center;
}
    
#Answer {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
    font-size: 125%;
}

.Answer {
    color:red;
    margin:0.75em 0;
}

.Middle, .Middle > * {
    vertical-align: middle;
}

.Point {cursor:pointer}
