:root {
    --blue:blue;
    --grey:#f5f5ff;
    /* --angle:90deg; */
}

#IconToC {
    position:fixed;
    top:4px; right:4px;
    z-index:999;
    height:2.5em;
    width:auto;
    cursor:pointer;
}

body {
	font-family:Oxygen, sans-serif;
    margin:0;
}

body:not(.Narrow):not(.HideToC) {
    margin-right:calc(var(--toc) + 1em);
}

ul.Tree  {
    font-family:Oxygen, sans-serif;
    /* font-weight:300; */
    background-color:var(--grey);
	list-style-type:none;
    padding:0.5em;
    margin:0;
    overflow:auto;
}

ul.Tree li {white-space:nowrap}
body.Narrow > ul.Tree  {width:calc(100% - 1em)}

body:not(.Narrow) > ul.Tree  {
    width:var(--toc);
    height:100vh;
    position:fixed;
    top:0;
    right:0;
}

body.Narrow *.Narrow0, body:not(.Narrow) *.Narrow1 {display:none}

ul.Tree ul  {
	list-style-type:none;
	padding-left:1.5em;
}

ul.Tree li > span::before {
	content:"";  /*"➔■❯⯈➤\25B6";*/
	display:inline-block;
	margin-right:6px;
}

ul.Tree li:not(.Expand) > span::before {
	color:transparent;
}

ul.Tree li.Expand.Collapsed ul {
	display:none;
}

/* ul.Tree li.Expand:not(.Collapsed) > span::before {
	-ms-transform: rotate(var(--angle));
	-webkit-transform: rotate(var(--angle));
	transform: rotate(var(--angle));  
} */

h1 {margin-top:0.75em}
span.Action {cursor:pointer}
span.Action:hover {text-decoration:underline}
.Hidden {display:none}
.Center, .FinePrint, #Title, #Toolbar {text-align:center}
#Title {margin-top:8px}
#Toolbar {margin-bottom:0em}
.FinePrint {font-size:85%; margin-top:2em}
li.Current > span.Action {font-weight:bold}
li.Current span.Action {color:var(--blue)}
.NoBreak {display:inline-block}

.Caption {
    margin-bottom:0.25em;
    text-align:center;
    font-weight:bold;
}

nav button.Icon {
    width:6.5em;
    margin:0 0.5em;
    padding:0.5em 2px;
    color:var(--blue);
    font-size:70%;
    background:none;
    border-radius:4px;
    vertical-align:top;
    border:1px solid #ffffff00;
    box-shadow:none;
}

nav button.Icon:hover {
    border:1px solid blue;
    cursor:pointer;
}

nav button.Icon > img {
    width:3em;
    height:3em;
    padding-bottom:0.2em;
}

article {
    width:calc(100% - 2em);
    margin:0em auto;
    /* margin-top:0.5em; */
    padding:0.5em;
    display:none;
}

body:not(.Slideshow) article {max-width:960px}

.HD, .Wide, .Zoom, .ZoomFull {max-width:calc(100% - 1em)}
canvas.Square {width:384px; height:auto}
canvas.HD {width:640px; height:auto}
canvas.SD {width:480px; height:auto}
.Red {color:red}
.Blue {color:var(--blue)}

canvas.Applet {
    height:auto;
    border:1px solid transparent;
}

/* body article *:first-child, body section *:first-child {margin-top:0} */
body.Slideshow {font-size:2.25em; min-height:calc(100vh - 8px)}
body.Slideshow ul.Tree, body.Slideshow #Toolbar, body.Slideshow #IconToC {display:none}
body.Slideshow .NoSlide {display:none}
body:not(.Slideshow) .SlideOnly {display:none}
body:not(.Slideshow) section > p {margin-left:1em}
#MouseImage {width:2.25em}
body.BigMouse, body.BigMouse * {cursor:none}

em.Defn {
    color:red;
    /* text-decoration:underline; */
}

code, .Code {
    font-family:monospace;
    font-weight:bold;
}

table {
    margin:auto;
    text-align:center;
    border-collapse:collapse;
}

td, th {
    border:1px solid black;
    padding:0.2em;
}

table.w6 td, td.w6 {min-width:6em}

div.MathJax_Display {
    max-width:100%;
    overflow: auto;
    overflow-y: hidden;
}