button {width:5em}

#Table {
	margin:auto;
	border-collapse:collapse
}

#Table td, #Table th {
	width:8em;
	border:1px solid black;
	padding:4px;
}

#Table th {
	background-color:#c0c0ff;
	font-weight:bold;
	cursor:pointer;
}

#Table tr.Addend td {
	background-color:#ffc0c0;
}

#Table tr.Resultant td {
	background-color:#c0c0ff;
	font-weight:bold;
}