body {
	text-align:center;
	font-family: "Oxygen", sans-serif;
}

canvas {background:black}
li {text-align:left}

table {
	border-collapse:collapse;
	margin:auto;
}

table.Main {width:640px}
tr {vertical-align:top}
td {padding:3px; text-align:left}
td.Param {text-align:right}

td.Slider {
	border:1px solid black;
	width:262px;
	height:1.25em;
}

td.Nested {padding:1em}

input[type=text] {
	font-family: "Open Sans", sans-serif;
	text-align:center;
	width:5em;
}

p {margin:8px 0}

.Center {text-align:center}