body {
    font-family:Oxygen, sans-serif;
}

ul div.MathJax_Display {margin-left:-0.75em}

body:not(.Print) article.SlideShow {
    max-width:48em;
    margin:auto;
}

.Left {text-align:left}
.Red {color:red}
.Blue {color:blue}
.FlipX {transform:scaleX(-1)}

.Caption {
    text-align:center;
    font-weight:bold;
    margin-bottom:0.25em;
}

.Center, body:not(.Print) h2, h1 {
    text-align:center;
}

h1, h2 {
    font-size:150%;
    margin-top:0.25em;
    margin-bottom:0.5em;
}

body.Print h1 {
    border-bottom:1px solid black;
}

p.Swipe {
    color:blue;
    font-weight:bold;
    text-align:center;
    margin-top:2em;
}

table.Normal {
    margin:auto;
    border-collapse:collapse;
}

table.Normal td, table.Normal th {
    text-align:center;
    border:1px solid black;
    padding:3px;
    min-width:3em;
}

.Wide {
    max-width:calc(100% - 2px);
    max-height:calc(100% - 2 * var(--bodyMargin) - 2px);
    display:block;
    margin:0 auto;
}

.Wide:not(.Stretch) {height:auto}

body.Print .Wide {
    max-width:384px;
}


section.Slide em.Defn {
    font-weight:bold;
    color:blue;
    padding-right:2px;
}

section.Slide ul {
    text-align:left;
    padding-left:1.5em;
}

section.Slide ul li {margin:8px auto}
a {text-decoration:none}
span[onclick], em[onclick] {color:blue}

span[onclick]:hover, em:not(.material-icons)[onclick]:hover, a:hover {
    cursor:pointer;
    text-decoration:underline;
}

#LaTeX-Preload > [data-key] {
    font-size:2.5em;
    padding:0;
    position:fixed;
    bottom:0;
}

#LaTeX-Preload > [data-key].Bar {
    padding-top:4px;
    font-size:2em;
}

#LaTeX-Preload > [data-key] div {margin:0}

body.Normal:not(.Print) p.Right, body.Normal:not(.Print) img.Right {
    float:right;
    max-width:35vw;
}

body.Narrow:not(.Print) p.Right, body.Narrow:not(.Print) img.Right {
    float:right;
    max-width:90%;
}

body.Print p.Right {
    text-align:center;
}

body.Print img.Right {
    display:block;
    margin:auto;
}
