body {
    font-family: Oxygen, "Segoe UI", sans-serif;
    font-size:120%;
}

body > article {
    max-width:800px;
    margin:auto;
}

img, iframe {max-width:98%}
.Center, #Title {text-align:center}
#Title {font-size:150%}
.Black {color:black}
.Red {color:red}
.Blue {color:blue}
.Green {color:green}
.Comment {color:#808080}

p.Caption {text-align:center; font-weight:bold} 
p.Next {text-align:center; font-size:75%} 

pre.IO, .Code, code {
    font-family: Consolas, "Source Code Pro", "Lucida Console", monospace;
    font-weight:bold;
}

pre.Code, pre.IO {
    background-color:lightgrey;
    padding:0.5em;
    overflow:auto;
}

pre.Code {
    color:purple;
}

table {
    border-collapse:collapse;
    margin:auto;
}

td, th {
    border:1px solid black;
    padding:4px;
}

ol.Assign li {padding-bottom:0.5em}

ol.Assign li > p {
    margin:0;
    padding:0.25em 0;
}