:root {
    --pad:16px;
    --notes:256px;
}

/* html.Present, html.Present * {cursor:none} */

body.Print .NoPrint {display:none}
p, ul {margin:0.5em auto}
em.Defn {color:blue; text-decoration:none}
.Small {font-size:75%}
.Center {text-align:center}
.Red {color:red}
.Blue {color:blue}
.w4 {width:4em}
.w6 {width:6em}
.w8 {width:8em}
.w10 {width:10em}
.w12 {width:12em}
.w14 {width:14em}
.w16 {width:16em}
.w18 {width:18em}
.w20 {width:20em}
.w24 {width:24em}
.w28 {width:28em}
.w32 {width:32em}
.w800 {width:800px}
h3.SectionTitle {font-size:100%; font-weight:bold}

table {
    margin:auto;
    border-collapse:collapse;
}

table td, table th {
    border:1px solid black;
    padding:0.2em;
}

body {
    font-family: Oxygen, "Segoe UI", sans-serif;
	font-size:125%;
	margin:var(--pad);
}

body.Present {
    margin:0;
    min-height:100vh;
}

body:not(.Present) .Present, body.Present .NoPresent {display:none}

body.Present > article {
	font-size:185%;
	padding:var(--pad);
}

body.Present:not(.NoPanel) > article {
	margin-left:calc(var(--notes) + 0 * var(--pad));
}

body.Present.NoPanel > article {
	margin-left:0;
}

body.Present > nav {
    width:calc(var(--notes) - 2 * var(--pad));
    height:100vh;
    padding:var(--pad);
    margin:0;
    position:fixed;
    top:0;
    overflow-y:scroll;
    scrollbar-width:none;
    -ms-overflow-style: none;
    background-color:#00e;
	color:white;
    z-index:999;
}

.Hidden, body > nav::-webkit-scrollbar {display:none}
body:not(.NoPanel) > nav {left:0}
body.NoPanel > nav {left:101vw}
body > nav > p.Selected[data-section] {font-weight:bold}
body:not(.Present) > nav > p[data-section] {cursor:pointer}
.Wide, body > article img, body > article iframe, body > article canvas {max-width:100%; height:auto}
.SD {aspect-ratio:4/3}
.HD {aspect-ratio:16/9}
#Title p:not(.Small):not(.Course) {font-size:125%}

.Caption, .Title {
    font-weight:bold;
    text-align:center;
}

.Title {color:blue}
body > nav > p.Title {color:white}
body:not(.Present) > article > section:not(:first-child) {margin-top:1.25em}

body > article > section > h3:first-child {
    margin-top:0;
    color:blue;
}

div.Icons button {
    width:7em;
    margin:0 0.5em;
    padding:0.5em 2px;
    color:blue;
    font-size:50%;
    background:none;
    border-radius:4px;
    vertical-align:top;
    border:1px solid #ffffff00;
    box-shadow:none;
}

body:not(.Present) div.Icons button:hover {
    border:1px solid blue;
    cursor:pointer;
}

div.Icons button > img {
    width:3em;
    height:3em;
    padding-bottom:0.2em;
}

li div.MathJax_Display {
    margin-left:-1em;
}

.Scroller {
    margin:auto;
    max-width:100%;
    width:100%;
    overflow:auto;
}
