body {
    font-family:Oxygen, "Segoe UI", sans-serif;
}

body.Active > header, body.Active ol.Q > li:not(.Active) {display:none}

body:not(.Soln) div.Soln {display:none}

.Black {color:black}
.Blue, div.Soln {color:blue}
.Red {color:red}

code {
    font-family: "source Code Pro", "Lucida Console", Consolas, monospace;
}

.Center {text-align:center} 
.Right {text-align:right} 
p.Video, .Center {text-align:center} 
p.Video iframe, img, canvas {max-width:100%}

table.Auto {
    margin:auto;
    border-collapse:collapse;
}

p, li, div {margin:0.5em 0}
ol, ul {padding-left:1.5em}
h1 {margin-top:0}