body {
    font-family:Oxygen;
    font-size:125%;
    color:blue;
    margin:0;
}

.Black {color:black}
.Red {color:red}

article {
    max-width:800px;
    margin:auto;
    padding-bottom:1em;
}

#Content {color:black}
#Crumbs, #Content {padding:8px}
#Crumbs > span {padding:4px; white-space: nowrap}
#Crumbs > span:last-child, code {font-weight:bold}
#Crumbs > span.Next {float:right; position:relative; bottom:4px}

#Crumbs {
    margin-bottom:0;
    border-bottom:1px solid blue;
    font-size:75%;
}


code {
    font-family: "source Code Pro", "Lucida Console", Consolas, monospace;
}

#Crumbs > span:not(:last-child) {
    cursor:pointer;
    border-radius:4px;
}

/* p.Title {
    font-weight:bold;
    font-size:125%;
    cursor:pointer;
}

p.Title * {vertical-align:middle}
p.Title.Home em {display:none} */

.Right {text-align:right} 
p.Video, .Center {text-align:center} 
p.Video iframe, img, canvas {max-width:100%}

#Links {
    margin:auto;
    border-collapse:collapse;
    width:100%;
    cursor:pointer;
}

#Links td {
    padding:4px;
    width:calc(100% - 2.5em - 8px);
}

#Links tr:hover, #Crumbs > span:hover:not(:last-child) {
    /* text-decoration:underline; */
    background-color:#a0a0ff;
}
#Links td:not(:first-child) {padding-left:1em}
#Links tr:nth-child(odd):not(:hover) {background-color:#e0e0ff}
#Links tr:nth-child(even):not(:hover) {background-color:#f0f0f0}

#Links td:first-child {
    width:calc(2.5em + 8px);
    height:calc(2.5em + 8px);
    text-align:center;
}

img.Icon {
    width:2.5em;
    height:2.5em;
    vertical-align:middle;
}

table.Auto {
    margin:auto;
    border-collapse:collapse;
}

table.Auto.TD td, table.Auto.TD th {
    border:1px solid black;
    text-align:center;
    padding:4px;
}

li div.MathJax_Display {
    margin-left:-1em;
}

div.Practice li {
    padding:0.25em;
}

div.Practice ol {
    padding:auto 2em;    
}

div.Practice .Answer {
    color:red;
    margin:0.5em auto;
}

div.Practice p.Answer {
/*     text-align:center; */
}

div.Practice p.Answer > span {
    cursor:pointer;
/*     color:green; */
}

div.Practice div.Answer, div.Practice div.NoAnswer {
    display:none;
}