body {
    font-family:Oxygen, sans-serif;
}

#Cover {
    background-color:#ffffffe0;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    text-align:center;
}

.Hidden {display:none}
.Center {text-align:center}
.Black {color:black}
.Blue {color:blue}
.Red {color:red}
.Gold {color:gold}
.Green, .Docstring {color:green}
.Comment {color:#b0b0b0}
#Cover iframe {position:fixed}
em.Defn {text-decoration:underline}
/* em.Defn {font-weight:bold; font-style:normal} */

em.material-icons {vertical-align:middle}

img.Wide {
    max-width:98%;
    height:auto;
}

code, .Code {
    font-family:Consolas, "Source Code Pro", "Lucida Console", monospace;
    font-weight:bold;
}

code:not(.Black), .Code:not(.Black), .Purple {color:purple}

pre.Code {
    text-align:left;
    background-color:#f0f0f0;
    width:calc(100% - 2em - 16px);
    overflow:auto;
    padding:8px;
    margin:1em;
}

#BreadCrumbs span {
    color:blue;
    cursor:pointer;
    font-size:80%;
}

#BreadCrumbs span:hover {
    text-decoration:underline;
}

#BreadCrumbs span.Next {
    float:right;
    margin-left:1em;
}

#ControlsContainer {margin-bottom:2em}

article {
    max-width:820px;
    margin:auto;
    text-align:center;
}

article p, article ul, article ol {
    text-align:left;
}

li {padding:3px}
li.Separator {margin-top:1em}
.Wide {max-width:calc(100% - 12px)}

.Link {
    color:#0000ee;
    text-decoration:underline;
    cursor:pointer;
}

#Controls {
    display:grid;
    grid-gap:8px;
    margin:0.5em auto;
    text-align:center;
}

#Controls button {
    padding-left:2.5em;
    border-radius:0.4em;
    width:100%;
    height:calc(2.5em + 4px);
    white-space:nowrap;
    overflow:hidden;
    color:blue;
    border:1px solid #d0d0ff;
    background-color:#f0f0ff;
    background-repeat:no-repeat;
    background-size:1.5em 1.5em;
    background-position:calc(0.5em + 1px) calc(0.5em + 1px);
    background-image:url("media/link.png");
    justify-self:center;
}

#Controls button:hover {
    border:1px solid blue;
}

p.FinePrint {
    text-align:right;
    color:blue;
    font-size:0.75em;
}

h3, h4 {text-align:left}

h4.Collapse {
    /* color:blue; */
    border-bottom:1px solid black;
    cursor:pointer;
}

.Assign {
    color:blue;
    border-left:2px solid blue;
}

table {
    border-collapse:collapse;
    margin:1em auto;
}

table.Border td, table.Border th {
    border:1px solid black;
    padding:4px;
}

.Auto {margin:auto}