body {
    font-family: Oxygen, sans-serif;
    font-size:3em;
    margin:0.4em;
    margin-top:0;
}

#Title, #TheEnd {margin-top:20vh}

input {
    font-size:1em;
}

h1, p, ul, ol {
    margin:0.4em 0;
}

h1, .Blue {color:blue}
h1, .Center {text-align:center}

a, .Link {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

.Dragable {
    position:relative;
    user-select:none;
    left:0;
    right:0;
}
