body {font-family:"Segoe UI", Oxygen, sans-serif}
.Center {text-align:center}
canvas, img, iframe {max-width:100%}
input {vertical-align:middle}
.NoBreak {display:inline-block}
.BlackBG {background-color:black}
input[type=range] {width:16em; max-width:46vw}

img.Icon {
    height:24px;
    width:auto;
}

img.Small.Icon {height:16px}
img.Icon[onclick] {cursor:pointer}

#Help {
    display: none;
    width:24em;
    max-width: calc(96% - 2em - 0px);
    max-height: calc(96% - 2em - 0px);
    position: fixed;
    top: calc(1em - 0px);
    left: calc(1em - 0px);
    overflow:auto;
    background-color:white;
    border:2px solid blue;
}

#Help ul {
    text-align:left;
    padding-right:1em;
}

table {
    margin:auto;
    border-collapse:collapse;
}